*hotspot.png
*gmo
Makefile
Makefile.in
adwaita-icon-theme.pc
aclocal.m4
autom4te.cache
config.log
config.status
configure
index.theme
install-sh
m4/
missing
po/.intltool-merge-cache
Makefile.in.in
POTFILES
stamp-it
